.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fdfbfb; 
    padding: 20px;
    border-radius: 8px;
}

.explore-menu h1 {
    color: #070707; 
    font-weight: 600;
    font-size: 28px;
}

.explore-menu-text {
    max-width: 80%; 
    color: #757575; 
    font-size: 16px;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: auto;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 8vw; /* Increased image size for better visibility */
    min-width: 90px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Added shadow for a 3D effect */
}

.explore-menu-list-item .active {
    border: 4px solid #ff6347; /* Tomato color */
    padding: 2px;
    transition: 0.3s ease;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #555555; /* Darker text for clarity */
    font-size: 18px;
    cursor: pointer;
}

.explore-menu hr {
    margin: 20px 0px;
    height: 2px;
    background-color: #dcdcdc; /* Lighter line */
    border: none;
}

@media (max-width: 1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }
}
